body {
  background-color: pink;
  margin: 0;
}

header {
  height: 10vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#forside_header {
  position: fixed;
  width: 100vw;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2vw;
  text-align: center;
  margin: 0.8vw;
  line-height: 0.1vw;
}

header h2 {
  font-family: 'white_angelicaregular';
  font-size: 1.5vw;
  font-weight: 100;
  text-align: center;
  margin: 0;
  line-height: 0.1vw;
}

header h3 {
  font-family: 'Raleway', sans-serif;

}

#logo img {
  height: 2vw;
  margin: 0.5vw;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#knapper {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1vw;
}

#ikon {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#ikon img {
  width: 5vw;
  margin-left: 2vw;
}

/******** LANDING PAGE ********/
#forside {
  width: 100vw;
}

#splash img {
  width: 66vw;
}

#forside_tekst {
  width: 30vw;
  position: absolute;
  top: 22vw;
  right: 8vw;
}



























































































/*********************OM OS*************************/












































































/****************GALLERI***********/






















































































































@font-face {
  font-family: 'white_angelicaregular';
  src: url('whiteangelica-webfont.woff2') format('woff2'),
    url('whiteangelica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
